# SPDX-FileCopyrightText: NONE
# SPDX-License-Identifier: CC0-1.0
Anderson Urrutia Moreyra Benonits <andersonurrutiamoreyra@gmail.com>
Andrea Victoria Pavón <andrea@endlessaccess.org> <andrea@endlessos.org>
Carlos Juniors Chiroque Silva <135936478+russell-cj@users.noreply.github.com> <135936478+Russell-CJ@users.noreply.github.com>
Carlos Sebastian Angulo Diaz <sebastian3000ad@gmail.com>
Cassidy James Blaede <cassidy@endlessaccess.org> <cassidy@endlessos.org>
Dan Nicholson <dbn@endlessaccess.org> <dbn@endlessos.org>
Gian Pool Alexander Vila Livias <vilalivias@gmail.com> <154763691+Alexander3242G@users.noreply.github.com>
Heather Drolet <heather@endlessaccess.org> <108750056+hydrolet@users.noreply.github.com>
Heather Drolet <heather@endlessaccess.org> <heather@endlessos.org>
Jhan Pierre Becerra Huaytalla <bjhanpierre@gmail.com>
Joana Filizola <joana@endlessaccess.org> <joana@endlessos.org>
Joaquin Pomayay Sobero <joaquinpomayay2020@gmail.com>
Juan Manuel Fernandes dos Santos <juan9794@gmail.com> <jfdossantos@frba.utn.edu.ar>
Justin Bourque <justin@endlessaccess.org> <164198892+jbourqueendless@users.noreply.github.com>
Justin Bourque <justin@endlessaccess.org> <justin@endlessos.org>
Manuel Quiñones <manuq@endlessaccess.org> <manuel.por.aca@gmail.com>
Manuel Quiñones <manuq@endlessaccess.org> <manuq@endlessos.org>
Omar Franco Mendez Contrera <U21321657@utp.edu.pe>
Pablo de Haro <pablitar@gmail.com>
Phoenix Stroh <68404504+PhoenixStroh@users.noreply.github.com>
Pierina Nicole Macavilca Beraun <168041764+pierinamb@users.noreply.github.com>
Shirley Torres <drawhottvan@gmail.com>
Shirley Torres <drawhottvan@gmail.com> <214037377+WhoD-S@users.noreply.github.com>
Stephen Reid <stephen@endlessaccess.org> <stephen@endlessos.org>
Tobías Romero <arebuayon@hotmail.com> <54726643+Arebuayon@users.noreply.github.com>
Valeria Vanessa Palomino Sulca <valeria.palominos.sulca@gmail.com>
Will Thompson <wjt@endlessaccess.org> <will@willthompson.co.uk>
Will Thompson <wjt@endlessaccess.org> <wjt@endlessos.org>
